@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&display=swap');
*/ {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    background: url("../images/background.png");
    background-size: cover;
   
    
}
@media (max-width: 500px) {
    section {background-position: center;}
}
.navbar {
    display: flex;
    padding-top: 28px;
    
}
.nav-left {
    width: 50%;
}
.nav-right {
    width: 50%;
}

.logo {
    background: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 73px;   
}
@media (max-width: 500px) {
     .logo {height: 50px;}
}
.nav-right   {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    margin: 0;
    margin-left: 12px;
    font-weight: 400;
    color: #FAFAFA;
    
}
.nav-right img {
    width: 26.25px;
    height: 17.5px;

}

.container {
    display: flex;
    line-height: 1.8;
    padding-top: 150px;
    height: 416px;
}
@media (max-width: 500px) {
    .container {
        height: auto;
        padding-top: 105px;
        flex-direction: column;
        
    }
  

}
.container-left {
    width: 50%;
    text-align: center;
}
@media (max-width: 500px) {
    .container-left {
        width: 100%
    }
   
}

#date {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    
}

.container-right {
    width: 50%;
    text-align: center;
}
@media (max-width: 500px) {
    .container-right {
        width: 100%
    }
}

.fa-search {
    transform: translateX(30px);
}
input[type='text'] {
    width: 370px;
    height: 45px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 44px;
    box-sizing: border-box;
    font-size: 15px;
}
@media (max-width: 500px) {
    input[type='text'] {
        width: auto;
    }
}

#btn  {
    padding: 12px 36px;
    border-radius: 151px;
    border: none;
    margin-top: 21px;
    background-color: #007E7B;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    
    
}

ul {
    display: flex;
    justify-content: center;
    margin-top: 26px;
}

.continue li a {
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
}
.call li a {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
}
li {
    list-style: none;
    margin-right: 13px;
}
#bar {
    margin: 0;
}
#arrow {
    padding-top: 4px;
    transform: translateX(-10px);

}
a {
    color: black;
    text-decoration: none;
}


.facility {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 2.4;

}    
#Fab {
  font-weight: 800;
  font-size: 36px; 
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  margin: 0;

}

